body {
    font-size: 15pt;
    background-image: url(sky-purple-violet-atmosphere-blue-galaxy-1564065-pxhere.com\ \(1\).png);
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
}
#foto-perfil{
  background-image: url(foto\ de\ perfil.png);
  width: 45%;
  height: 300px;
  opacity: 100%;
  margin-top: 20px;
  border-radius: 50%;
}
h1{
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
#section1{
  display: flex;
  align-items: center;
  flex-flow: column; 
  width: 35%;
  height: 100%;
  background-color: rgba(1, 1, 19, 0.85);
  box-shadow: -1px 1px 15px, 10px 10px 10px;  
}
#section2{
  width: 93%;
  background-color: rgba(1, 1, 19, 0.30);
  height: 95%;
}
#section2:hover{
  background-color: rgba(1, 1, 19, 0.85);
  transition: .4s;
}
#conteiner{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  position: absolute;
  bottom: 0;
}