body {
  width: 100%;
  margin: 0;
  background-image: url(sky-purple-violet-atmosphere-blue-galaxy-1564065-pxhere.com.png);
}
#foto-de-perfil{
  position: absolute;
  width: 150px;
  margin-left: 30px;
}
p, h1, h2, h3, a{
  margin: 0;
  color: wheat;
}
#github{
  margin-left: 30vw;
}
header a{
  font-size: 25px;
}
a{
  text-decoration: none;
}
#header-principal{
  background: url(Textura/blue_Grunge_halftone_detailed_texture_background.png);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-principal div{
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right: 0px;
  border-color: rgb(255, 255, 255);
}
@media(max-width: 1065px){
  #header-principal{
    justify-content: flex-end;
  }
  #header-principal div{
    margin-right: 2px;
  }
}@media(max-width: 830px){
  #foto-de-perfil{
    margin-left: 0;
    width: 100px;
  }
}@media(max-width: 700px){
  #github{
    margin-left: 0;
  }
}@media(max-width: 600px){
  #foto-de-perfil{
    width: 70px;
  }
}@media(max-width: 460px){
  #menu-div a{
    font-size: 15px;
  }
  #foto-de-perfil{
    display: none;
  }
  #header-principal{
    justify-content: center;
  }
}

  